<h2>Adoption Listings</h2>

<a href="/breeds/{{breed._id}}/listings/new">Create New Listing</a>


{{!-- <form method="GET" action="/breeds/{{breed._id}}/listing/new">
    <input type="submit" value="Create New Listing">
</form> --}}

{{#each listings}}
    <p>{{createdAt}}</p>
    <p>{{dogName}}</p>
    <p>{{description}}</p>
{{/each}}