<h2>Adoption Listings</h2>

<a href="/breeds/{{breed._id}}/listings/new">Create New Listing</a>

{{#each listings}}
    <form method="POST" action="/breeds/{{breedId}}/listings/{{_id}}?_method=DELETE">
        <input type="submit" value="Delete Listing">
    </form>
    <form method="GET" action="/breeds/{{breedId}}/listings/{{_id}}/edit">
        <input type="submit" value="Edit Listing">
    </form>
    <p>{{createdAt}}</p>
    <p>{{dogName}}</p>
    <p>{{description}}</p>
{{/each}}