<a href="/breeds">Back to breed list</a>

<section class="jumbotron">
    <div class="container">
        <div id="breed-header">
            <div id="breed-col-one">
                <div id="breedName" class="rounded float-left display-4">{{breed.name}}</div>
                <div><img src="{{breed.imgLink}}" class="rounded float-left" id="breedImage"
                        alt="Image of {{breed.name}}"></div>
            </div>
            <div id="breed-col-two">
                <p class="lead text"><b>AKC Group: </b>{{breed.akcGroup}}</p>
                <p class="lead text"><b>Size: </b>{{breed.size}}</p>
                <p class="lead text"><b>Shedding: </b>{{breed.shedding}}</p>
                <p class="lead text"><b>Activity Level: </b>{{breed.activityLevel}}</p>
                <div id="breed-buttons">
                    <form method="GET" action="/breeds/{{breed._id}}/edit">
                        <input type="submit" value="Edit Breed" class="btn btn-outline-primary btn-lg edit-breed">
                    </form>

                    <form method="POST" action="/breeds/{{breed._id}}?_method=DELETE">
                        <input type="submit" value="Delete Breed" class="btn btn-outline-secondary btn-lg delete-breed">
                    </form>
                </div>
                
                <form method="GET" action="/breeds/{{breed._id}}/listings">
                    <input type="submit" value="Adopt a {{breed.name}}" class="btn btn-primary btn-lg adopt-breed">
                </form>

            </div>
        </div>

    </div>
</section>

<section class="container breed-reviews">
    <h2>Comments & Reviews</h2>
    <form method="GET" action="/breeds/{{breed._id}}/newComment">
        <input type="submit" value="Post a Comment" class="btn btn-primary">
    </form>
    <table class="table">
        <thread>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Comment</th>
            </tr>
        </thread>
        <tbody>
            {{#each comment}}
            <tr>
                <td>{{submitter}}</td>
                <td>{{createdAt}}</td>
                <td>{{description}}</td>
                <td>
                    <form method="GET" action="/breeds/{{breedId}}/comment/{{_id}}/edit">
                        <input type="submit" value="Edit Comment">
                    </form>

                    <form method="POST" action="/breeds/{{breedId}}/comment/{{_id}}?_method=DELETE">
                        <input type="submit" value="Delete Comment">
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>