<a href="/breeds">Back to breed list</a>

<div>
    <form method="GET" action="/breeds/{{breed._id}}/edit">
        <input type="submit" value="Edit Breed" class="btn btn-primary">
    </form>

    <form method="POST" action="/breeds/{{breed._id}}?_method=DELETE">
        <input type="submit" value="Delete Breed" class="btn btn-primary">
    </form>
</div>

<img src="{{breed.imgLink}}" class="rounded float-right" alt="Image of {{breed.name}}">

<h2>{{breed.name}}</h2>

<a href="/breeds/{{breed._id}}/listings">View {{breed.name}} Adoption Listings</a>

<p>AKC Group: {{breed.akcGroup}}</p>
<p>Size: {{breed.size}}</p>
<p>Shedding: {{breed.shedding}}</p>
<p>Activity Level: {{breed.activityLevel}}</p>



{{!-- <img src="{{breed.imgLink}}" alt="Image of {{breed.name}}" /> --}}

<h3>Breed Reviews</h3>

<form method="GET" action="/breeds/{{breed._id}}/newComment">
    <input type="submit" value="Post a Review" class="btn btn-primary">
</form>

{{#each comment}}
    <p>Submitted by <b>{{submitter}}</b> on {{createdAt}}:</p>
    <p>"{{description}}"</p>
    <form method="GET" action="/breeds/{{breedId}}/comment/{{_id}}/edit">
        <input type="submit" value="Edit Review">
    </form>
    <form method="POST" action="/breeds/{{breedId}}/comment/{{_id}}?_method=DELETE">
        <input type="submit" value="Delete Review">
    </form>
{{/each}}