<a href="/breeds">Back to breed list</a>

<section class="jumbotron text-center">
    <div class="container">
        <img src="{{breed.imgLink}}" class="rounded float-right" alt="Image of {{breed.name}}">

        <h1 class="jumbotron-heading">{{breed.name}}</h1>
        <p class="lead text-muted">AKC Group: {{breed.akcGroup}}</p>
        <p class="lead text-muted">Size: {{breed.size}}</p>
        <p class="lead text-muted">Shedding: {{breed.shedding}}</p>
        <p class="lead text-muted">Activity Level: {{breed.activitylevel}}</p>

        <div id="breed-buttons">
            <form method="GET" action="/breeds/{{breed._id}}/edit">
                <input type="submit" value="Edit Breed" class="btn btn-primary">
            </form>

            <form method="POST" action="/breeds/{{breed._id}}?_method=DELETE">
                <input type="submit" value="Delete Breed" class="btn btn-secondary">
            </form>

        </div>
                    <a href="/breeds/{{breed._id}}/listings">View {{breed.name}} Adoption Listings</a>



    </div>
</section>


<h3>Breed Reviews</h3>

<form method="GET" action="/breeds/{{breed._id}}/newComment">
    <input type="submit" value="Leave a Review" class="btn btn-primary">
</form>

{{#each comment}}
<p>Submitted by <b>{{submitter}}</b> on {{createdAt}}:</p>
<p>"{{description}}"</p>
<form method="GET" action="/breeds/{{breedId}}/comment/{{_id}}/edit">
    <input type="submit" value="Edit Review">
</form>
<form method="POST" action="/breeds/{{breedId}}/comment/{{_id}}?_method=DELETE">
    <input type="submit" value="Delete Review">
</form>
{{/each}}