<a href="/breeds">Back to breed list</a>

<h2>{{breed.name}}</h2>

<p>AKC Group: {{breed.akcGroup}}</p>
<p>Size: {{breed.size}}</p>
<p>Shedding: {{breed.shedding}}</p>
<p>Activity Level: {{breed.activityLevel}}</p>
<img src="{{breed.imgLink}}" alt="Image of {{breed.name}}" />

<form method="GET" action="/breeds/{{breed._id}}/edit">
    <input type="submit" value="Edit Breed">
</form>

<form method="POST" action="/breeds/{{breed._id}}?_method=DELETE">
    <input type="submit" value="Delete Breed">
</form>