<a href="/breeds">Back to breed list</a>

<div>
    <form method="GET" action="/breeds/{{breed._id}}/edit">
        <input type="submit" value="Edit Breed">
    </form>

    <form method="POST" action="/breeds/{{breed._id}}?_method=DELETE">
        <input type="submit" value="Delete Breed">
    </form>
</div>

<h2>{{breed.name}}</h2>

<p>AKC Group: {{breed.akcGroup}}</p>
<p>Size: {{breed.size}}</p>
<p>Shedding: {{breed.shedding}}</p>
<p>Activity Level: {{breed.activityLevel}}</p>
<img src="{{breed.imgLink}}" alt="Image of {{breed.name}}" />

<h3>Breed Reviews</h3>

<form method="GET" action="/breeds/{{breed._id}}/newComment">
    <input type="submit" value="Submit a Review">
</form>

{{#each comment}}
    <p>Submitted by <b>{{submitter}}:</b></p>
    <p>"{{description}}"</p>
    <form method="GET" action="/breeds/{{breedId}}/comment/{{_id}}/edit">
        <input type="submit" value="Edit Review">
    </form>
    <form method="POST" action="/breeds/{{breedId}}/comment/{{_id}}?_method=DELETE">
        <input type="submit" value="Delete Review">
    </form>
{{/each}}